.special_egipcjanie
{
	color: blue;
}
.special_aztekowie
{
	color: green;
}
.special_rzymianie
{
	color: purple;
}
.special_chinczycy
{
	color: orange;
}
.logo_image
{
	position: absolute;
	top: 530px;
	left: 400px;
}

.lefty{
  padding : 10px;
  background-color: #d1d1ff;
}

.righty{
  text-align : right;
  background-color: #ffd1f0;
  height: 100px;
  vertical-align: bottom;
}
