body
{
	background-color: #ffc6f9;
}
h1
{
	background-color: #ffadf6;
	border-left: 6px solid #cc00b4;
	width: 95%;
}

h2
{
	background-color: #ffadf6;
	border-left: 6px solid #cc00b4;
	left: 20px;
	width: 90%;
	position: relative;
}

a:link
{
  color: hotpink;
}

a:visited
{
  color: purple;
}

#title
{
	position: absolute;
	top:-80px;
	font-family: 'Ravi Prakash', cursive;
	font-size: 90px;
	text-shadow:5px 5px 10px #cc00b4;
}

#menu_header
{
	width: 99%;
	position:absolute;
	background: linear-gradient(to bottom right, hsl(330, 100%, 100%), hsl(330, 100%, 70%));
	height: 164px;
	left: 0px;
	top: 0px;
	padding: 10px;
	border: 5px solid #ffadf6;
}

#menu_header_table
{
	border-collapse: collapse;
	position:absolute;
	top: 140px;
}

#menu_header_table tr
{
	height: 40px;
	background-color: #ffe6fc;
}

#menu_header_table td
{
	width: 200px;
	text-align: center;
}

#menu_header_table td:hover
{
	background-color: #ffc6f9;
}

#menu_list
{
	position: absolute;
	background-color: white;
	width: 230px;
	height: 130%;
	border: 5px solid #ffadf6;
	padding: 5px;
	left: 0px;
	top: 194px;
	animation-name: menu_list_background_animation;
	animation-duration: 30s;
	animation-iteration-count: infinite;
}

@media screen and (max-width: 600px) 
{
    #menu_list {
           display: none;
                }
}

#menu_list_table
{
	border-collapse: collapse;
	width: 100%;
}

#menu_list_table td
{
	height: 25px;
}

#menu_list_table tr:nth-child(even)
{
	background-color: #ffe6fc;
}

#menu_list_table tr:nth-child(odd)
{
	background-color: white;
}

#menu_list_table tr:hover
{
	background-color: #ffc6f9;
}

.box
{
  display: flex
}

.contents_rhombus
{
	flex-grow: 1;
	height: 129%;
	padding: 10px;
	position: absolute;
	border: 5px solid #ffadf6;
	background-image: url("../pictures/rhombus.jpg");
	left: 257px;
	top: 194px;
}

.contents_star
{
	flex-grow: 1;
	height: 129%;
	padding: 10px;
	position: absolute;
	border: 5px solid #ffadf6;
	background-image: url("../pictures/star.jpg");
	left: 257px;
	top: 194px;
}

.contents_plain
{
	width:75%;
	position:absolute;
    height: 129%;
	padding: 10px;
	border: 5px solid #ffadf6;
	background-color: #ffe6fc;
	left: 257px;
	top: 194px;
}

.background
{
	position:absolute;
	width: 100%;
	height: 150%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.contents_box
{
	background-color: white;
	width: 85%;
	border: 5px solid #ffadf6;
	box-shadow: 5px 5px 5px #ffc6f9;
	border-radius: 25px;
	padding: 10px;
	margin: 5px;
	position: relative;
	left: 20px;
}

@keyframes menu_list_background_animation
{
	0% 		{background: white;}
	40% 	{background: white;}
	50% 	{background: #ffe6fc;}
	90%		{background: #ffe6fc;}
	100%	{background: white;}
	
}

.border_image{
  border: 15px solid transparent;
  padding: 15px;
  border-image-source: url(../pictures/serduszko.png);
  border-image-repeat: round;
  border-image-slice: 30;
}

.crossfading {
  position:relative;
  height:245px;
  width:326px;
  margin:0 auto;
}

.crossfading img {
  position:absolute;
  left:0;
  transition: opacity 1s ease-in-out;
}

.crossfading img.image_top:hover {
  opacity:0;
}

.image_rotate:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.image_rotate {
  float: right;
  width: 100px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.image_move:hover {
  -webkit-transform: translateX(1000px);
  transform: translateX(1000px);

}

.image_move {
  width: 100px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

h1[id="powitanie"]{
   font-family: 'Ravi Prakash', cursive;
}

.columns{
   -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;

    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;

    -webkit-column-rule: 4px outset hotpink;
    -moz-column-rule: 4px outset hotpink;
    column-rule: 4px outset hotpink;
}
