body
{
	background-color: #ffc6f9;
}
h1
{
	background-color: #ffadf6;
	border-left: 6px solid #cc00b4;
}

h2
{
	background-color: #ffadf6;
	border-left: 6px solid #cc00b4;
	left: 20px;
	width: 90%;
	position: relative;
}

a:link
{
  color: hotpink;
}

a:visited
{
  color: purple;
}

#title
{
	font-size: 40px;
	text-shadow:5px 5px 10px #cc00b4;
}

#menu_header
{
	background: hsl(310, 100%, 97%);
	background: linear-gradient(to bottom right, hsl(330, 100%, 100%), hsl(330, 100%, 70%));
	width: 97%;
	height: 164px;
	left: 0px;
	top: 0px;
	padding: 10px;
	border: 5px solid #ffadf6;
	animation-name: menu_header_background_animation;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

#menu_header_table
{
	border-collapse: collapse;
}

#menu_header_table tr
{
	height: 40px;
	background-color: #ffe6fc;
}

#menu_header_table td
{
	width: 200px;
	text-align: center;
}

#menu_header_table td:hover
{
	background-color: #ffc6f9;
}

#menu_list
{
	background-color: white;
	width: 230px;
	height: 130%;
	border: 5px solid #ffadf6;
	padding: 5px;
	left: 0px;
	top: 194px;
}



#menu_list_table
{
	border-collapse: collapse;
	width: 100%;
}

#menu_list_table td
{
	height: 25px;
}

#menu_list_table tr:nth-child(even)
{
	background-color: #ffe6fc;
}

#menu_list_table tr:hover
{
	background-color: #ffc6f9;
}

.box
{
  display: flex
}

.contents_rhombus
{
	width: 78%;
	height: 129%;
	padding: 10px;
	position: absolute;
	border: 5px solid #ffadf6;
	background-image: url("../pictures/rhombus.jpg");
	left: 257px;
	top: 194px;
}

.contents_star
{
	width: 78%;
	height: 129%;
	padding: 10px;
	position: absolute;
	border: 5px solid #ffadf6;
	background-image: url("../pictures/star.jpg");
	left: 257px;
	top: 194px;
}

.contents_plain
{
	flex-grow: 1;
    height: 129%;
	padding: 10px;
	border: 5px solid #ffadf6;
	background-color: #ffe6fc;
	left: 257px;
	top: 194px;
}

.background
{
	width: 100%;
	height: 150%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.contents_box
{
	background-color: white;
	width: 85%;
	border: 5px solid #ffadf6;
	box-shadow: 5px 5px 5px #ffc6f9;
	border-radius: 25px;
	padding: 10px;
	margin: 5px;
	position: relative;
	left: 20px;
}

@keyframes menu_header_background_animation
{
	0%  {background: linear-gradient(to bottom right, hsl(330, 100%, 100%), hsl(330, 100%, 70%));}
	35%   {background: linear-gradient(to bottom right, hsl(330, 100%, 99%), hsl(330, 100%, 71%));}
	35,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 98%), hsl(330, 100%, 72%));}
	36%   {background: linear-gradient(to bottom right, hsl(330, 100%, 97%), hsl(330, 100%, 73%));}
	36,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 96%), hsl(330, 100%, 74%));}
	37%   {background: linear-gradient(to bottom right, hsl(330, 100%, 95%), hsl(330, 100%, 75%));}
	37,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 94%), hsl(330, 100%, 76%));}
	38%   {background: linear-gradient(to bottom right, hsl(330, 100%, 93%), hsl(330, 100%, 77%));}
	38,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 92%), hsl(330, 100%, 78%));}
	39%   {background: linear-gradient(to bottom right, hsl(330, 100%, 91%), hsl(330, 100%, 79%));}
	39,5%  {background: linear-gradient(to bottom right, hsl(330, 100%, 90%), hsl(330, 100%, 80%));}
	40%   {background: linear-gradient(to bottom right, hsl(330, 100%, 89%), hsl(330, 100%, 81%));}
	40,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 88%), hsl(330, 100%, 82%));}
	41%   {background: linear-gradient(to bottom right, hsl(330, 100%, 87%), hsl(330, 100%, 83%));}
	41,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 86%), hsl(330, 100%, 84%));}
	42%   {background: linear-gradient(to bottom right, hsl(330, 100%, 85%), hsl(330, 100%, 85%));}
	42,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 84%), hsl(330, 100%, 86%));}
	43%   {background: linear-gradient(to bottom right, hsl(330, 100%, 83%), hsl(330, 100%, 87%));}
	43,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 82%), hsl(330, 100%, 88%));}
	44%   {background: linear-gradient(to bottom right, hsl(330, 100%, 81%), hsl(330, 100%, 89%));}
	44,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 80%), hsl(330, 100%, 90%));}
	45%  {background: linear-gradient(to bottom right, hsl(330, 100%, 79%), hsl(330, 100%, 91%));}
	45,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 78%), hsl(330, 100%, 92%));}
	46%   {background: linear-gradient(to bottom right, hsl(330, 100%, 77%), hsl(330, 100%, 93%));}
	46,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 76%), hsl(330, 100%, 94%));}
	47%   {background: linear-gradient(to bottom right, hsl(330, 100%, 75%), hsl(330, 100%, 95%));}
	47,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 74%), hsl(330, 100%, 96%));}
	48%   {background: linear-gradient(to bottom right, hsl(330, 100%, 73%), hsl(330, 100%, 97%));}
	48,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 72%), hsl(330, 100%, 98%));}
	49%   {background: linear-gradient(to bottom right, hsl(330, 100%, 71%), hsl(330, 100%, 99%));}
	49,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 70%), hsl(330, 100%, 100%));}

	84,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 71%), hsl(330, 100%, 99%));}
	85%   {background: linear-gradient(to bottom right, hsl(330, 100%, 72%), hsl(330, 100%, 98%));}
	85,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 73%), hsl(330, 100%, 97%));}
	86%   {background: linear-gradient(to bottom right, hsl(330, 100%, 74%), hsl(330, 100%, 96%));}
	86,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 75%), hsl(330, 100%, 95%));}
	87%   {background: linear-gradient(to bottom right, hsl(330, 100%, 76%), hsl(330, 100%, 94%));}
	87,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 77%), hsl(330, 100%, 93%));}
	88%   {background: linear-gradient(to bottom right, hsl(330, 100%, 78%), hsl(330, 100%, 92%));}
	88,5%  {background: linear-gradient(to bottom right, hsl(330, 100%, 79%), hsl(330, 100%, 91%));}
	89%   {background: linear-gradient(to bottom right, hsl(330, 100%, 80%), hsl(330, 100%, 90%));}
	89,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 81%), hsl(330, 100%, 89%));}
	90%   {background: linear-gradient(to bottom right, hsl(330, 100%, 82%), hsl(330, 100%, 88%));}
	90,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 83%), hsl(330, 100%, 87%));}
	91%   {background: linear-gradient(to bottom right, hsl(330, 100%, 84%), hsl(330, 100%, 86%));}
	91,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 85%), hsl(330, 100%, 85%));}
	92%   {background: linear-gradient(to bottom right, hsl(330, 100%, 86%), hsl(330, 100%, 84%));}
	92,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 87%), hsl(330, 100%, 83%));}
	93%   {background: linear-gradient(to bottom right, hsl(330, 100%, 88%), hsl(330, 100%, 82%));}
	93,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 89%), hsl(330, 100%, 81%));}
	94%  {background: linear-gradient(to bottom right, hsl(330, 100%, 90%), hsl(330, 100%, 80%));}
	94,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 91%), hsl(330, 100%, 79%));}
	95%   {background: linear-gradient(to bottom right, hsl(330, 100%, 92%), hsl(330, 100%, 78%));}
	95,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 93%), hsl(330, 100%, 77%));}
	96%   {background: linear-gradient(to bottom right, hsl(330, 100%, 94%), hsl(330, 100%, 76%));}
	96,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 95%), hsl(330, 100%, 75%));}
	97%   {background: linear-gradient(to bottom right, hsl(330, 100%, 96%), hsl(330, 100%, 74%));}
	97,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 97%), hsl(330, 100%, 73%));}
	99%   {background: linear-gradient(to bottom right, hsl(330, 100%, 98%), hsl(330, 100%, 72%));}
	99,5%   {background: linear-gradient(to bottom right, hsl(330, 100%, 99%), hsl(330, 100%, 71%));}
	100%   {background: linear-gradient(to bottom right, hsl(330, 100%, 100%), hsl(330, 100%, 70%));}
}

.crossfading {
  position:relative;
  height:245px;
  width:326px;
  margin:0 auto;
}

.crossfading img {
  position:absolute;
  left:0;
  transition: opacity 1s ease-in-out;
}

.crossfading img.image_top:hover {
  opacity:0;
}

.image_rotate:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.image_rotate {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.image_move:hover {
  -webkit-transform: translateX(1000px);
  transform: translateX(1000px);

}

.image_move {
  width: 100px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

h1[id="powitanie"]{
   font-family: 'Ravi Prakash', cursive;
}
