#ingredients
{
	border-collapse: collapse;
	position: relative;
	left: 20px;
}

#ingredients td, #ingredients th
{
	border: 1px solid #ffadf6;
	width: 250px;
	text-align: left;
}
#ingredients td
{
	background-color: white;
}
#ingredients th
{
	background-color: #ffadf6;
}
#ingredients td:hover
{
	background-color: #ffc6f9;
}

.image:hover {
  -webkit-transform:scale(2);
  transform:scale(2);
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
