body
{
	background-color: #b3d9ff;
	background-image: url("logo.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right;
}
.special 
{
	font-size: 20px;
	line-height: 4em;
}
h1
{
	background-color: #80bfff;
}

@media screen and (max-width: 500px) {
body {
        background-color: pink;
     }
}

li:first-child{
  text-decoration: underline;
}

li:last-child{
  font-weight: bold;
}

a:link{
  color: hotpink;
}

a:visited{
  color: pink;
}

a:active{
  font-size: 200px;
}
